.movies-list {
  border-top: 1px solid rgba(232,232,232, 1);
  padding-top: 80px;
  margin: 70px auto;
}

.movies-list__cards {
  display: grid;
  gap: 32px 20px;
  font-family: 'Inter', Arial, sans-serif;
  grid-template-columns: repeat(auto-fill, 270px);
  margin: 0 auto;
  justify-content: center;
}

.movies-list__button {
  margin: 80px 0 10px;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
  border-radius: 6px;
  background-color: #F9F9F9;
  width: 100%;
  padding: 11px 0 9px;
}

.movies-list__error {
  text-align: center;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 50px 0;
}



@media screen and (max-width: 980px) {
  .movies-list__cards {
    padding: 0 30px 0;
    gap: 36px 30px;
    grid-template-columns: repeat(2, 339px);   
  }
}

@media screen and (max-width: 740px) {
  .movies-list__cards {
    padding: 0 10px 0;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 300px);   
  }
}
