.form__title {
  margin: 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 35px 0 40px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__submit {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 3px;
  width: 396px;
  height: 45px;
  background: #FF6838;
  padding: 0;
  cursor: pointer;
  border: 0;
  margin-top: 73px;
}

.form__subtitle {
  margin: 0;
  padding-top: 16px;
  color: #A0A0A0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__link {
  color: #FF6838;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__btn_disabled {
  color: #C2C2C2;
  background-color: #F8F8F8;
  cursor: default;
}

.form__error {
  opacity: 0;
  visibility: hidden;
  color: #FF004C;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__error_active {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 665px) {
  .form__title {
    padding: 47px 0 80px;
  }

  .form__submit {
    font-size: 12px;
    border-radius: 3px;
    width: 260px;
    height: 45px;
    background: #FF6838;
    padding: 0;
    cursor: pointer;
    border: 0;
    margin-top: 160px;
  }

  .form__subtitle {
    padding-top: 14px;
    font-size: 12px;
  }

  .form__link {
    font-size: 12px;
  }
}