.saved-movies {
  background: #ffffff;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0 70px;
}

@media screen and (max-width: 780px) {
  .saved-movies {
    margin: 0 30px;
  }
} 

@media screen and (max-width: 665px) {
  .saved-movies {
    margin: 0 10px;
  } 
} 