.techs {
  background-color: #f5f5f5;
  font-family: 'Inter', Arial, sans-serif;
  /* display: flex;
  flex-direction: column; */
  padding: 100px 70px;
}

.techs__title{
  max-width: 1140px;
  margin: 0;
  color: #000000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  border-bottom: 1px solid rgba(0,0,0, 1);
  padding-bottom: 23px;
  font-family: 'Inter', Arial, sans-serif;
  letter-spacing: -0.88px;
}

.techs__content {
  padding: 90px 0 100px;
  margin: 0 auto;
}

.techs__content-title {
  font-family: 'Inter', Arial, sans-serif;
  margin: 0 auto;
  padding-bottom: 26px;
  color: #000;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.techs__content-description {
  margin: 0 auto;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 460px;
  letter-spacing: -0.56px;
}

.techs__items {
  padding: 0;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, 90px);
  gap: 10px;
  list-style: none;
}

.techs__item {
  border-radius: 10px;
  background-color: #E8E8E8;
  max-width: 90px;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  padding: 21px 0;
}

@media screen and (max-width: 1267px) {
  .techs {
    padding: 91px 50px;
  }

  .techs__content {
    padding: 80px 0 83px;
  }

  .techs__content-title {
    padding-bottom: 22px;
  }

  .techs__content-description {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }

  .techs__items {
    grid-template-columns: repeat(7, 84px);
  }

  .techs__item {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 690px) {
  .techs__items {
    grid-template-columns: repeat(3, 84px);
  }
}

@media screen and (max-width: 650px) {
  .techs {
    padding: 70px calc(18px + (50 - 18) * ((100vw - 320px) / (768 - 320))); ;
  }

  .techs__title{
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }

  .techs__content {
    padding: 60px 0 50px;
  }

  .techs__content-title {
    padding-bottom: 24px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .techs__content-description {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }

  .techs__items {
    grid-template-columns: repeat(2, 84px);
  }

}